@tailwind base;
@tailwind components;
@tailwind utilities;
.nav-toggle {
  @apply bg-black w-[30px] h-[2px] block my-2 group-hover:bg-lime-700 transition;
}
.nav-active span:nth-child(1) {
  @apply rotate-45;
}
.nav-active span:nth-child(2) {
  @apply -translate-x-20 animate-wush;
}
.nav-active span:nth-child(3) {
  @apply -rotate-45;
}
.navbar-scroll {
  /* @apply fixed backdrop-blur-lg; */
  box-shadow: inset 0px -2px 0 0 rgba(0, 0, 0, 0.1);
}
.hover-navbar {
  @apply hover:text-lime-500 transition relative;
}
.nav-active ~ nav ul {
  @apply right-0;
}
.nav-active ~ nav ul li {
  @apply right-[40rem] animate-listItemShow;
}
.nav-active ~ nav ul li:nth-child(1) {
  animation-delay: 0ms;
}
.nav-active ~ nav ul li:nth-child(2) {
  animation-delay: 100ms;
}
.nav-active ~ nav ul li:nth-child(3) {
  animation-delay: 200ms;
}
.nav-active ~ nav ul li:nth-child(4) {
  animation-delay: 300ms;
}
.nav-item {
  @apply py-3 relative lg:static flex justify-center transition;
}
nav ul li a::before {
  content: '';
  @apply absolute -bottom-[2px] w-full h-[2px] bg-lime-500 scale-x-0 transition duration-300 origin-right;
}
nav ul li a:hover::before {
  @apply scale-100 origin-left;
}
.active {
  @apply text-lime-500;
}
.search-box {
  @apply focus:border-lime-600 lg:relative hidden lg:block rounded-3xl py-1.5 pl-1.5 focus:outline-none;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-active {
  @apply w-52 pr-11 block border-2 border-lime-500 opacity-100;
}
.search-active ~ .cancel-button {
  @apply hidden lg:flex relative;
}
.search-button {
  @apply lg:absolute bg-lime-400 p-2 lg:right-2 cursor-pointer rounded-full flex justify-center items-center hover:bg-lime-500;
}
.typing-text h2 {
  @apply uppercase;
}
@keyframes wush {
  0% {
    @apply opacity-100;
  }
  100% {
    @apply opacity-0;
  }
}
@keyframes listItemShow {
  0% {
    @apply right-[40rem];
  }
  100% {
    @apply right-0;
  }
}

/* Loader Animation */
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}
.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}
.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  @apply bg-lime-500;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
/* Tokoh Penting */
.tokoh-card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}
.tokoh-card:hover {
  height: 320px;
}
.tokoh-card .image {
  position: relative;
  width: 260px;
  height: 260px;
  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.tokoh-card .image img {
  max-width: 100%;
  border-radius: 15px;
}
.tokoh-card .content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.tokoh-card:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
@media (max-width: 767px) {
  .tokoh-card .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
  }
  .tokoh-card {
    height: 320px;
  }
}
/* Flip book animation for visi misi */
.box-vimi {
  @apply relative w-[320px] sm:w-[330px] md:w-[350px] lg:w-[450px] xl:w-[550px] p-10 bg-white shadow-xl overflow-hidden m-5 box-border rounded-lg transition;
}
.box-vimi::before {
  content: '';
  @apply w-1/2 h-full absolute top-0 left-0 bg-white/20 z-[2];
}
.box-vimi .icon {
  @apply relative w-20 h-20 text-white bg-lime-600 rounded-full flex justify-center items-center m-auto transition duration-500;
}
.box-vimi:nth-child(1) .icon {
  @apply bg-teal-500;
  box-shadow: 0 0 0 0 rgb(20 184 166 / 1);
}
.box-vimi:nth-child(1):hover .icon {
  box-shadow: 0 0 0 400px rgb(20 184 166 / 1);
}
.box-vimi:nth-child(2) .icon {
  @apply bg-pink-500;
  box-shadow: 0 0 0 0 rgb(236 72 153);
}
.box-vimi:nth-child(2):hover .icon {
  box-shadow: 0 0 0 400px rgb(236 72 153);
}
.box-vimi:hover .content {
  @apply z-10 relative transition;
}
.box-vimi:hover .content h3 {
  @apply text-white my-0 p-0;
}
.box-vimi:hover .content p {
  @apply text-white m-0 my-0 p-0;
}
